body {
	background: #B9090B;
}
h1, h2, h3, h4, h5, a {
	color:#ffffff;
}
.urs-container {
	padding-top: 25px;
	padding-left: 50px;
	padding-right: 25px;
	padding-bottom: 25px;
	background-color: #4C4C4C;
	border-radius: 25px;
	overflow: auto;
	clear: both;
}

.sub-header {
	overflow: auto;
}

#search {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sub-header h1 {
	float: left;
}

.movie-div {
	float: left;
	padding: 10px;
}

.movie-div img {
	width: 150px;
	height: 200px;
}
@media only screen and (min-width:960px){

}
@media only screen and (min-width:1440px){

}